<!DOCTYPE html>
<html>
<head>
    <title>Espace Staff</title>
</head>
<body>
    <h1>Bienvenue dans l’espace Staff</h1>
    <p>Connecté en tant que {{ request.user.username }}</p>
    <p><a href="{% url 'logout_staff' %}">Se déconnecter</a></p>

    <hr>

    <h2>Gestion des Médias</h2>
    <p>
        <a href="{% url 'ajouter_media' 'livre' %}">Ajouter un Livre</a> |
        <a href="{% url 'ajouter_media' 'dvd' %}">Ajouter un DVD</a> |
        <a href="{% url 'ajouter_media' 'cd' %}">Ajouter un CD</a> |
        <a href="{% url 'ajouter_media' 'jeu' %}">Ajouter un Jeu de Plateau</a>
    </p>

    <hr>

    <h2>Gestion des Emprunteurs</h2>
    <p><a href="{% url 'liste_emprunteurs' %}">👥 Voir la liste des emprunteurs</a></p>

    <hr>
    
    <p>
        <a href="?type=all">Tous</a> |
        <a href="?type=livre">Livres</a> |
        <a href="?type=dvd">DVD</a> |
        <a href="?type=cd">CD</a> |
        <a href="?type=jeu">Jeux de plateau</a>
    </p>

    <h2>
        {% if filtre == "livre" %}Liste des Livres
        {% elif filtre == "dvd" %}Liste des DVD
        {% elif filtre == "cd" %}Liste des CD
        {% elif filtre == "jeu" %}Liste des Jeux de plateau
        {% else %}Tous les médias
        {% endif %}
    </h2>

    <ul>
        {% for media in medias %}
            <li>
                {{ media.titre }}
                {% if media.emprunteur %}
                    — Emprunté par {{ media.emprunteur.nom }}
                    {% if media.dateEmprunt %}
                        (depuis le {{ media.dateEmprunt}})
                    {% endif %}
                    <a href="{% url 'retour_media' media.id %}">↩️ Retourner</a>
                {% else %}
                    — Disponible
                {% endif %}

                <a href="{% url 'modifier_media' media.id%}">✏️ Modifier</a>
                <a href="{% url 'supprimer_media' media.id %}">❌ Supprimer</a>

            </li>
        {% empty %}
            <li>Aucun média trouvé.</li>
        {% endfor %}
    </ul>
</body>
</html>
